body {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

header {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    
    border-bottom: 2px black solid;
    padding-bottom: 5px;
    
}


.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    border: 4px black solid;
    max-width: 800px;
    align-self: center;
    padding: 50px;
    background-color:  white;
    border-radius: 15px;
    
    
}

#back {
    display: none;
}

footer { /* adds stying for the text that tells you if your answer was right or wrong */
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    align-self: center;
    position: relative;
    bottom: 130px;
    
}

.start-button { /* styles start button */
    max-width: 150px;
    font-size: 35px;
    border-radius: 10px;
    
}

.start-button:hover {
    border: 3px black solid;
}

.start-button:active {
    background-color: rgb(184, 181, 181);
}


#options { /* adds styling for your answer choices */
    list-style: none;
    font-size: larger;
    display:inline-block;
    
   

}



.wrongAnswer {
    margin: 20px; 
    border: 2px black solid; 
    width: 200px;
    border-radius: 5px;
}

.wrongAnswer:hover {
    border: 4px black solid;
    font-weight: bold;
    cursor: pointer;
}

.correctAnswer {
    margin: 20px; 
    border: 2px black solid; 
    width: 200px;
    border-radius: 5px;
}

.correctAnswer:hover {
    border: 4px black solid;
    font-weight: bold;
    cursor: pointer;
}



.wrong { /* adds stying to text when your answer is wrong */
    display: flex;
    justify-content: center;
    font-size: larger;
    color: white;
    background-color: red;
    border: 2px red solid;
    padding: 5px;
    border-radius: 5px;
}
.wrong:hover {
    
    cursor: pointer;
    border: 4px red solid;
}
/*  */
.right { /* adds stying to text when you answer correctly */
    display: flex;
    justify-content: center;
    font-size: larger;
    color: white;
    background-color: green;
    border: 2px green solid;
    border-radius: 5px;
    padding: 5px;
}

.right:hover {
    
    cursor: pointer;
    border: 4px green solid;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
}