body {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

header {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    
    border-bottom: 2px black solid;
    padding-bottom: 5px;
    
}


main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    border: 4px black solid;
    max-width: 800px;
    align-self: center;
    padding: 50px;
    background-color:  white;
    
    
}

footer {
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    align-self: center;
    position: relative;
    bottom: 130px;
    
}

.start-button {
    max-width: 150px;
    font-size: 35px;
}

#options {
    list-style: none;
    font-size: larger;
    display:inline-block;
    
   

}

.button-style {
    margin: 20px; 
    border: 2px black solid; 
    width: 200px;
    border-radius: 5px;
}

.button-style:hover {
    border: 4px black solid;
    font-weight: bold;
    cursor: pointer;
}

.wrong {
    display: flex;
    justify-content: center;
    font-size: larger;
    color: red;
    
}
.wrong:hover {
    font-weight: bold;
    cursor: pointer;
    border: 4px red solid;
}

.right {
    display: flex;
    justify-content: center;
    font-size: larger;
    color: green;
    
}

.right:hover {
    font-weight: bold;
    cursor: pointer;
    border: 4px green solid;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
}